body{
    background-color: #1C3950;
}

.navbar-brand-image{
    float:left;
}

.navbar-brand-image > img{
    height:24px;
    margin-top: 13px;
    margin-right: 20px;
}

.nav > li > a{
    color:#666;
}

.navbar-transparent .navbar-toggle .icon-bar {
    background-color: #888;
}

.nav-container{
    padding-top: 15px;
    background-color: white;
}

.header-container{
    background-color: #042E50;
}

#marketing-logo{
    width: 70px;
    height:70px;
}

.marketing {
    margin:130px 0px;
    text-align: center;
    color:white;
}

.features-container{
    text-align: center;
    background-color: white;
}

.features{
    margin:60px 0px 80px 0px;
}

.feature-box{
    margin-top: 20px;
}

.solution-container{
    text-align: center;
    background-color: #085A9D;
    color:white;
}

.solution{
    margin:60px 0px 60px 0px;
}

.solution>hr{
    margin-bottom: 60px;
}
hr{
    border-color: white;
    border-width: 3px;
    max-width: 50px;
}

footer{
    height: 70px;
    font-size: 30px;
    padding-top: 13px;
    color:white;
    background-color: #1C3950;
}
hr.blue{
    border-color: #0A77D0;
}

#marketing-button{
    margin-top: 20px;
}

.solution h3{
    margin-top: 0px;
}

.solution-box{
    padding-top: 30px;
    text-align: left;
}

.solution-box-icon{
    text-align: center;
}

.solution-footer{
    text-align: center;
    padding-top: 40px;
}

.solution-footer button{
    margin:20px 10px;
}

.contact-container{
    text-align: center;
    background-color: #042E50;
    color:white;
}

.contact{
    margin:60px 0px 80px 0px;
}

.contact .form-group input.form-control{
    height:62px;
    margin-bottom: 30px;
    font-size: 1.5em;
}

.contact .form-group textarea{
    height:247px;
    font-size: 1.3em;
}

#contact-form{
    margin: 50px 0px 20px 0px;
}

#contact-form-send{
    margin-top: 20px;
}

.contact-result{
    padding:100px 0px;
}

.contact-result h1{
    color:white;
    margin-bottom: 20px;
}